.submit2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 45px;
    color: #fff;
    background-color: #ff0000;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
}
.submit3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 45px;
    color: #fff;
    background-color: #0d5926;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
}