/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f9;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.navbar {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

#logout-btn {
  background: transparent;
  border: none;
  color: #ffcccb;
  margin-left: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}

.centered-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.navigation-buttons button {
  padding: 0.75rem 2rem;
  font-size: 1.25rem;
  border: none;
  background-color: #444;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navigation-buttons button:hover {
  background-color: #666;
}

.section-content {
  width: 100%;
  max-width: 800px;
  margin-top: 2rem;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.section-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
