/* 
.learning-hub {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom:20px;
    position:absolute;
    top: 2px;
  }
  
  .title {
    font-size: 24px;
    font-weight:bold;
  }
  
  .manager-info {
    display: flex;
    align-items: center;
    margin-left: 350px;
  }
  
  .power-button {
    background-color: transparent;
    border: none;
    color: #999;
    cursor: pointer;
  }
  
  .request-summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .request-card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: grey;
  }
  
  .new-request-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 250px;
  }
  
  .request-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .request-table th, .request-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .request-table th {
    background-color: #f2f2f2;
  }
  
  .view-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  td{
    background-color: white;
  } */